@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(77,14,203);
    background: radial-gradient(
        circle,
        rgba(77,14,203,1)0%,
        rgba(255,255,255,1)100%
        );
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        font-family: "poppins", sans-serif;
}

.quiz-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100,100,100,0.1);
    max-width: 600px;
    width:100%;
    margin: 18px;
    top: 4rem;
}

.quiz-header{
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-top-left-radius: 10px;
    font-size: 1.5rem;
}

.quiz-body h2{
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.quiz-body ul{
    list-style: none;
    padding: 0;
}

.quiz-body ul li{
    margin: 1rem 0;
    font-size: 1rem;
    border: 1px solid #aab7b8;
    border-radius: 5px;
    padding: 0.7rem;
    cursor: pointer;
}

.quiz-body ul li label{
    cursor: pointer;
    padding: 0 0.4rem;
}

.quiz-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 5px rgba(0, 0,0, 0.5);
}

.quiz-footer button {
    padding: 0.6rem 1.5rem;
    background: #111;
    outline: none;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    border-radius: 5px;
    color: #fff;
    opacity: 0.9;
}

.quiz-footer button:hover{
    opacity: 1;
}

.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


.home-button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease-in-out;
}
/* #reload {
    padding: 0.5rem 1rem;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; 
    transition: background-color 0.3s ease; 
} */

@media screen and (max-width: 480px) {
    .quiz-header {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .quiz-body h2 {
        font-size: 1.5rem;
    }

    .quiz-body ul li {
        font-size: 0.9rem;
    }

    .quiz-footer {
        padding: 0.5rem 1rem;
    }

    .quiz-footer button {
        padding: 0.5rem 1rem;
    }
}