*{
    border: border-box;
}
body{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    margin: 0;
}
.chat-history{
  position: absolute;
  height: 75%;
  max-width: 800px;
  margin: 0 auto;
  padding: 18px;
  box-sizing: border-box; 
    background-color: transparent;
    color: black;
    overflow-y: auto;
    display: flex;
    flex-direction:column;
    
    bottom: 5.7rem;
    /* bottom: calc(100% - 10px - 1rem); */
    
}

#chatForm{
  width: 80%;
}

.chat-form-container {
  position: fixed;
  bottom: 18px;
  /* left: 50%; */
    width: 95%;
    margin-top: auto;
    margin-right: auto;
    /* transform: translateX(-50%);  */
    margin-left: auto;
    padding: 14px;
    background-color: transparent;
    border-radius: 0.75rem;
  }
  
  .chat-form-container form {
    display: flex;
    /* width: 100%; */
  }

  .home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


.home-button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease-in-out;
}
#chatForm {
  width: 80%; 
  margin: 0 auto;
  margin-right: 4px;
}

  .chat-input {
    margin-right: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 65%;
    font-size: 21px;
  }
  
  .send {
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(247, 96, 118);
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
  }
  
  .send:hover {
    background-color: rgb(241, 48, 77);
  }
  
/* media queries */

@media screen and (max-width: 745px ){
  .body{
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #chatForm {
    width: 80%;
    margin: 0 auto;
    padding: 0 ;
}

}
