* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: linear-gradient(to bottom right, rgb(250, 197, 205), rgb(153, 204, 255)); 
    font-family: montserrat;
    color: #007185;;
    text-align: center;
}

.block {
    
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information {
    padding-top: 4rem;
}


.wel {
    color:  #fc664c;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.info {
    color: rgb(92, 91, 91);
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.explore-button {
    padding: 12px 24px;
    background-color: #fc664c;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.explore-button:hover {
    background-color: #007185;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.box {
    width: 23%;
    border: 2px solid rgb(92, 91, 91);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; 
}

.box:hover {
    transform: scale(1.05);
}

.box-heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.box-content {
    padding: 1.5rem;
}
.box img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}

.box1-bottom {
    display: block;
    color: #007185;
    font-size: 1rem;
    text-decoration: none;
}

.box1-bottom:hover {
    color: orangered;
}
.box .button {
    background-color: #007185;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%; /* Make the button fill its container */
    max-width: 200px; /* Limit the maximum width of the button */
    margin: 0 auto; /* Center the button horizontally */
}

.box .button:hover {
    background-color: #ff6347;
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo{
    color:white;
    font-size:35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding:7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;

}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

/* MEDIA QUERIES */
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    
}

@media screen and (max-width: 900px) {
    .boxes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
    }

    .box {
        width: 40%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    .boxes {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 80%;
    }
}