.input_bar {
    height: 1.5rem;
    width: 6rem;
    background-color: beige;
    color: black;
}

.txt {
    text-align: left;
    height: 1rem;
    width: 1rem;
}
.user-input {
    justify-content: center;
    text-align: center;
    height: 1rem;
    width: 4rem;
}
.send {
    text-align: right;
    justify-content: center;
    height: 1rem;
    width: 1rem;
}
.chat-history{
    height: 11rem;
    width: 9rem;
    background-color: aqua;
    color: black;
}
#chatForm {
    height: 1.5rem;
    width: 6rem;
}